.confirm__content {
    margin: 0 auto;
    padding: 40px 15px 60px;
    max-width: 900px;
}

.confirm__heading {
    margin-bottom: 35px;
    text-align: center;
}

.confirm__heading h2 {
    color: #8b7969;
    font-size: 35px;
    font-weight: normal;
}

.form {
    margin: 0 auto;
    width: 100%;
}

.confirm-table {
    border: 1px solid #e0dfde;
}

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.confirm-table__header {
    padding: 20px 35px;
    width: 30%;
    border-bottom: 1px solid #e0dfde;
    background: #baa899;
    color: #fff;
    font-weight: normal;
    text-align: left;
}

.confirm-table__text {
    padding: 20px 35px;
    border-bottom: 1px solid #e0dfde;
    color: #8b7969;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 35px;
}

.form__button-submit {
    width: 120px;
    height: 42px;
    border: none;
    background: #82756a;
    color: #fff;
    cursor: pointer;
}

.form__button-correction {
    border: none;
    background: transparent;
    color: #8b7969;
    text-decoration: underline;
    cursor: pointer;
}