.thanks__content {
    margin: 0 auto;
    padding: 140px 15px 60px;
    max-width: 1230px;
    text-align: center;
}

.thanks__heading {
    margin-bottom: 40px;
}

.thanks__heading h2 {
    color: #8b7969;
    font-size: 24px;
    font-weight: bold;
}

.thanks__button {
    display: inline-block;
    padding: 10px 40px;
    background: #82756a;
    color: #fff;
    text-decoration: none;
}